// Import partials
// Tools : mixins and functions
@import 'tools/_maps.function';
@import 'tools/_font-face.mixin';
@import 'tools/_font-name.function';
@import 'tools/_rem.function';
@import 'tools/_test-unit.function';
@import 'tools/_strip-unit.function';
@import 'tools/_breakpoints.mixin';
@import 'tools/_color.function';
@import 'tools/_font-size.function';

// Theme : setup for colors, fonts, sizes
@import 'theme/theme';

// Components
@import 'components/buttons';
@import 'components/links';

// Basic styles
@import 'generic/normalize';
@import 'generic/setup';
@import 'generic/accessibility';

// Pages
@import 'pages/home';
