// Removes default button styles
button {
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: rem(10) rem(15);
  text-align: center;
  text-decoration: none;
  transition: color .2s ease-in-out,
              background-color .2s ease-in-out,
              border-color .2s ease-in-out;
}

.btn {
  border-style: solid;
  border-width: 1px;
  font-family: font-name('primary');
  font-size: font-size('button', min);

  @include breakpoint('beyond-min', font) {
    font-size: font-size('button');
  }

  @include breakpoint('beyond-max', font) {
    font-size: font-size('button', max);
  }

  &__info {
    font-size: .7em;
  }
}

/// Generate class buttons from $theme-buttons
/// @author Loriane Buffet
////
/// @require {map} $theme-buttons - defines buttons in project
///
@each $name, $styles in $theme-buttons {
  .btn--#{$name} {
    @each $state, $values in $styles {
      @if $state == 'static' {
        @each $value, $key in $values {
          #{$value}: $key;
	      }
	    } @else {
        &:#{$state} {
          @each $value, $key in $values {
            #{$value}: $key;
          }
        }
      }
	  }
	}
}
