// styles.scss
.testing {
  width: percentage(3/7);
  height: percentage(5/7);
  display: flex;
}
// paragraph styles
p {
  color: color('default', general);
  font-family: font-name('default');
  font-size: 50px;
}

h1 {
  font-family: font-name('default');
  color: red;
}
