/// Theme fonts
/// Defines all fonts in project
$theme-fonts: (
  default: (
    'name': 'Nimbus Sans',
    'fallback': 'Arial',
    'type': 'sans-serif',
    'src': 'nimbussans',
  ),
  default-bold: (
    'name': 'Nimbus Sans Bold',
    'fallback': 'Arial Black',
    'type': 'sans-serif',
    'src': 'nimbussans-bold',
    'weight': 'bold',
  ),
  primary: (
    'name': 'Inconsolata',
    'fallback': 'Courier',
    'type': 'monospace',
    'src': 'inconsolata',
  ),
);

/// Theme color
/// Defines all colors in project
$theme-colors: (
  general: (
    'default': #1c2a43,
    'primary': #000,
    'secondary': #f22613,
  ),
  background: (
    'default': #fff,
    'primary': #f7f7f7,
  )
);
